[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
boto3 = "*"
rich = "*"
marqo = "*"
markdown = "*"
markdown-full-yaml-metadata = "*"
emoji = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.12"
